
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.game-container {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: 100%;

    background-color: blue;
}

.level {
    height: 100%;
    position: relative;
}


.player {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    height: 16.66%;
    position: absolute;

    margin-left: 1em;
}

.projectile {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    /*height: 16.66%;*/

    height: 2.66%;
    position: absolute;
}